body{
	background: rgb(184, 178, 178);
}

fieldset{
	display:none;
}

legend{
	text-align: center;
	padding-bottom:10px;
	text-transform: uppercase;
	border-bottom: 1px solid #fffbfb;
	font-weight: bold;

}

.active{
	display: block;
}

.formulario{
	width: 450px;
	background-color: rgb(80, 79, 133);
	padding: 20px 30px;
	border-top: solid 5px;
	border-radius: 20px;
}

.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 450px){
	.formulario{
		width: 100vw;
		height: 100vh;
	}
}
